<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1, maximum-scale=1, user-scalable=no" />
        <link rel="shortcut icon" href="{{ site.baseurl }}/images/bitbug_favicon.ico" />
        <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/styles/reset.min.css">
        <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/styles/markdown.css">
        <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/styles/others.css">
        <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/styles/main.css">
        <!--[if lt ie 9]><script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    </head>
    <body>
        <!--[if gte ie 8]><!-->
        <!--导航开始-->
        <nav class="site-nav m-site-nav-trasition">
            <button class="site-nav-logo button-transition"><span  title="Site Navigation">W</span></button><!--导航按钮-->
            <div class="site-nav-container">
                <div class="m-site-logo-bar">
                    <a href="http://github.wnlee.com" class="m-site-nav-logo"><span>W</span></a>
                    <button class="m-site-nav-logo-btn">三</button>
                </div>
                <ul class="site-list-item">
                    <li><a href="{{ site.baseurl }}/#blogs" class="list-item-btn" id="home">Home</a></li>
                    <!-- <li><a href="{{ site.baseurl }}/#collection" class="list-item-btn" id="collection">Collection</a></li> -->
                    <li><a href="{{ site.baseurl }}/#blogs" class="list-item-btn">Blogs List</a></li>
                    <li><a href="{{ site.baseurl }}/#books" class="list-item-btn">Books List</a></li>
                    <li><a href="{{ site.baseurl }}/#about" class="list-item-btn">About Me</a></li>
                </ul>
            </div><!--导航内容容器-->
        </nav><!--导航结尾-->
        <!--覆盖层-->
        <div class="site-nav-overlay"></div><!--覆盖层-->
        <!--主页面容器-->
        <div class="container container-transition">
            <!--主页面-->
            <div class="surface">
                <!--主要内容-->
                <div class="screen-content">
                    <!--焦点图-->
                    <div class="image-home-header-bleed">
                        <div class="images-src" style="background-image: url({{ site.baseurl }}/images/header-bg.jpeg)"></div>
                        <div class="images-src images-src-blur" style="background-image: url({{ site.baseurl }}/images/header-bg-shadow.jpeg)"></div> 
                    </div><!--焦点图-->
                    <!--滚动页面-->
                    <div class="srolling-region">
                        <header class="blog-header">
                            <h1 class="blog-title">WNLee's Blog</h1>
                            <p>I'm WeiNanLee, This is my personal blog!</p>
                            <p class="link-github-con"><a href="https://github.com/WNLee" target="_blank">Link To Github</a></p>
                        </header>
                        <nav class="page-nav">
                            <ul>
                                <li><a href="{{ site.baseurl }}/#blogs" id="blogsID" class="hover">Blogs List</a></li>
                                <li><a href="{{ site.baseurl }}/#books" id="booksID">Books List</a></li>
                                <li><a href="{{ site.baseurl }}/#about" id="aboutID">About Me</a></li>
                            </ul>
                        </nav>
                        <div class="background-white">
                          <div class="article">
                            <h2>{{ page.title }}</h2>
                            <p class="post-date">{{ page.date | date_to_string }}</p>
                            {{ content }}
                            <!-- Duoshuo Comment BEGIN -->
                            <div class="ds-thread"></div>
                            <script type="text/javascript">
                            var duoshuoQuery = {short_name:"wnlee"};
                            (function() {
                                var ds = document.createElement('script');
                                ds.type = 'text/javascript';
                                ds.async = true;
                                ds.src = 'http://static.duoshuo.com/embed.js';
                                ds.charset = 'UTF-8';
                                (document.getElementsByTagName('head')[0] 
                                    || document.getElementsByTagName('body')[0]).appendChild(ds);
                            })();
                            </script>
                          </div>
                          <!-- Duoshuo Comment END -->
                          <footer class="footer"><a href="mailto:GeekLee2020@gmail.com">Contact Me</a><a target="_blank" href="http://www.cnblogs.com/geek-lee/">CnBlogs</a><a target="_blank" href="http://weibo.com/17aiba">WeiBo</a></footer>
                        </div>
                    </div><!--滚动页面-->
                </div><!--主要内容-->
            </div><!--主页面-->
        </div><!--主页面容器-->
        <script type='text/javascript' src="{{ site.baseurl }}/scripts/base/sea.js"></script>
        <script type='text/javascript'>
            seajs.config({
                base: '{{ site.baseurl }}/scripts/',
                alias: {
                    'underscore': 'base/underscore',
                    '$': 'base/jquery',
                    'backbone': 'base/backbone'
                }
            });
        </script>
        <script type='text/javascript'>
            seajs.use(["module/Drawer.js"], function(Drawer, Router) {

                var d = new Drawer;
                
            });
        </script>
        <!--><![endif]-->
        <!--[if lt ie 8]>
            <div id="update-tip-layer">
                <div id="update-tip">
                    <a href="http://www.google.cn/chrome" title="Chrome" id="chrome"></a>
                    <a href="http://www.apple.com.cn/safari/" title="Safari" id="safari"> </a>
                    <a href="http://www.firefox.com.cn/download/" title="Firefox" id="firefox"> </a>
                    <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home" title="IE 10" id="ie"></a>
                </div>
            </div>
        <![endif]-->
    </body>
</html>